[tool.poetry]
name = "openrpc"
version = "1.2.2"
description = "OpenRPC provides classes to rapidly develop an OpenRPC server."
readme = "README.md"
repository = "https://gitlab.com/mburkard/openrpc"
homepage = "https://gitlab.com/mburkard/openrpc"
license = "AGPL-3.0-or-later"
authors = ["Matthew Burkard <matthewjburkard@gmail.com>"]
classifiers = ["Programming Language :: Python :: 3"]

[tool.poetry.dependencies]
python = "^3.9"
pydantic = "^1.8.2"
jsonrpc2-objects = "^1.3.0"

[tool.poetry.dev-dependencies]
pytest = "^5.2"

[build-system]

requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
