[tool.poetry]
name = "openrpc"
version = "6.0.4"
description = "OpenRPC provides classes to rapidly develop an OpenRPC server."
readme = "README.md"
repository = "https://gitlab.com/mburkard/openrpc"
homepage = "https://gitlab.com/mburkard/openrpc"
license = "MIT"
authors = ["Matthew Burkard <matthewjburkard@gmail.com>"]
classifiers = ["Programming Language :: Python :: 3"]

[tool.poetry.dependencies]
python = "^3.9"
pydantic = "^1.9.2"
jsonrpc2-objects = "^2.0.0"
case-switcher = "^1.2.13"

[tool.poetry.dev-dependencies]
coverage = "^6.4.3"
flake8 = "^5.0.4"
mypy = "^0.990"
black = "^22.3.0"
pytest = "^7.1.2"

[build-system]

requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
