[tool.poetry]
name = "openrpc"
version = "6.1.0"
description = "OpenRPC provides classes to rapidly develop an OpenRPC server."
readme = "README.md"
repository = "https://gitlab.com/mburkard/openrpc"
homepage = "https://gitlab.com/mburkard/openrpc"
license = "MIT"
authors = ["Matthew Burkard <matthewjburkard@gmail.com>"]
classifiers = [
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Topic :: Software Development :: Libraries",
    "Topic :: Software Development",
    "Typing :: Typed",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
]

[tool.poetry.dependencies]
python = "^3.9"
pydantic = "^1.9.2"
jsonrpc2-objects = "^2.0.0"
case-switcher = "^1.2.13"

[tool.poetry.dev-dependencies]
coverage = "^7.0.1"
flake8 = "^6.0.0"
mypy = "^0.991"
black = "^22.12.0"
pytest = "^7.1.2"

[build-system]

requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
